/* Styling form and resume sections */

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: white;
}

form {
    margin: auto;
    background-color: rgb(177, 177, 174);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1.0);
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: black;
}

fieldset {
    border: 2px solid rgb(3, 6, 66);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(158, 148, 145);
}

legend {
    font-weight: bold;
    text-align: left;
    color: rgb(34, 29, 29);
}

label {
    display: block;
    margin-top: 10px;
    color: black;

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 2px);
    border: 2px solid rgb(4, 8, 71);
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color:  rgb(94, 89, 88);
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgb(4, 8, 71);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color: rgb(255, 255, 255);
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(19, 1, 74);
    border-radius: 8px;
    background-color: rgb(158, 148, 145);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    /* Making the resume editable */
    outline: none;
}

#resume-display h2 {
    color: black;
}

